<div class="pass-row">
    <div class="left">
        <div class="img-div">
            <img src="assets/images/passes3.png" alt="">
        </div>
    </div>
    <div class="right">
        <div class="day">
            LAUNCH DAY PASS
        </div>
        <div class="price">
            ₹ 100
        </div>
        <input type="button" value="VIEW DETAILS">
    </div>
</div>
<div class="day-pass">
    DAILY PASSES
</div>
<div class="pass-list color1">
    <div class="pass b1">
        <div class="title">
            Day Pass
        </div>
        <div class="price">
            ₹ 10
        </div>
        <img src="assets/images/Group 2.png" alt="" >
    </div>
    <div class="pass b1">
        <div class="title">
            3 - Day Pass
        </div>
        <div class="price">
            ₹ 25
        </div>
        <img src="assets/images/Group 12.png" alt="" >
    </div>
    <div class="pass b1">
        <div class="title">
            7 - Day Pass
        </div>
        <div class="price">
            ₹ 75
        </div>
        <img src="assets/images/Group 13.png" alt="" >
    </div>
</div>
<div class="pass-list color1">
    <div class="pass b1">
        <div class="title">
           15 - Day Pass
        </div>
        <div class="price">
            ₹ 130
        </div>
        <img src="assets/images/Group 14.png" alt="" >
    </div>
    <div class="pass b1">
        <div class="title">
            30 - Day Pass
        </div>
        <div class="price">
            ₹ 250
        </div>
        <img src="assets/images/Group 15.png" alt="" >
    </div>
    <div class="pass b1">
        <div class="title">
            45 - Day Pass
        </div>
        <div class="price">
            ₹ 375
        </div>
        <img src="assets/images/Group 17.png" alt="" >
    </div>
</div>
<div class="day-pass">
    PREMIUM PASSES
</div>
<div class="pass-list color2">
    <div class="pass b2">
        <div class="title">
            Tissot Pass
        </div>
        <div class="price">
            ₹ 100
        </div>
        <img src="assets/images/Group 18.png" alt="" >
    </div>
    <div class="pass b2">
        <div class="title">
            Posrche Bounce Pass
        </div>
        <div class="price">
            ₹ 200
        </div>
        <img src="assets/images/Group 19.png" alt="" >
    </div>
    <div class="pass b2">
        <div class="title">
            Weekend 1 Combo Pass
        </div>
        <div class="price">
            ₹ 250
        </div>
        <img src="assets/images/Group 22.png" alt="" >
    </div>
</div>
<div class="day-pass">
    ALL ACCESS PASSES
</div>
<div class="pass-list">
    <div class="pass bg1">
        <div class="title">
            All Access Pass - 7 Days
        </div>
        <div class="price">
            ₹ 300
        </div>
        <img src="assets/images/Group 23.png" alt="" >
    </div>
    <div class="pass bg2">
        <div class="title">
            All Access Pass - 15 Days
        </div>
        <div class="price">
            ₹ 600
        </div>
        <img src="assets/images/Group 24.png" alt="" >
    </div>
    <div class="pass bg3">
        <div class="title">
            All Access Pass - 30 Days
        </div>
        <div class="price">
            ₹ 900
        </div>
        <img src="assets/images/Group 25.png" alt="" >
    </div>
</div>

<div class="flex-support-contact">
    <div class="support">
        <div class="text">
            <div style="font-size: 1.5vw;">FOR HELP & SUPPORT</div>
            <div style="font-size: 2vw;">HELLO@BIDMOUSE.CO</div>
            <br><br><br><br>
            <div class="social">
                VISIT OUR SOCIAL PAGES
            </div>
            <div class="social-icons">
                <img src="assets/icons/facebook-singupsignin.svg" alt="">
                <img src="assets/icons/twitter_referral.svg" alt="">
                <img src="assets/icons/google-signupsignin.svg" alt="">
            </div>
            <br><br><br><br>
            <div class="unit">
                BidMouse is a Unit of <br>
AMGB Treeline Private Limited
            </div>
        </div>
    </div>
    <div class="contact">
        <div style="font-size: 1.5vw;">Site Links</div>
        <br><br><br><br>
        <table border="0" style="width: 110%;">
            <tr>
                <td><span>Sign Up →</span></td>
                <td><span>Standard →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Refer and Earn →</span></td>
                <td><span><span>Premium →</span></span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span><span>FAQ’s →</span></span></td>
                <td><span><span>Winners →</span></span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Help Centre→</span></td>
                <td><span>About BidMouse →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td><span>Privacy Policy →</span></td>
                <td><span>Partner with BidMouse →</span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"><span>Terms of Service →</span></td>
            </tr>
        </table>
        
    </div>
</div>